<div style="height:100vh;" class="row no-gutters">
  <!-- <div id="header" class="row"></div> -->
  <!-- <div style="" class="row"> -->
      <div id="sidebar" class="col-2">
          <div id="brand">
          </div>
          <div id="menu">
            <label for="nemos">Seleccione un nemo:</label>
            <select name="nemos" id="nemos" (change)="changeNemo($event)">
              <option value="">Seleccione</option>
              <option *ngFor="let symbol of symbols; index  as i ">
                  {{symbol.symbol}}
              </option>
          </select>
              <!-- <app-nemos></app-nemos> -->
          </div>
      </div>
      <div id="main" class="col-10">
          <div id="precios">
              <app-precios [data]="data" ></app-precios>
          </div>
          <div id="grafico">
              <app-grafico [nemo]="symbol" [data]="data"></app-grafico>
          </div>
      </div>
  <!-- </div> -->
</div>
